html {
  box-sizing: border-box;
  line-height: 1.6;
  letter-spacing: -0.011em;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",  Helvetica, Arial, sans-serif;
  font-display: auto;
  font-size: 1rem;
  line-height: 1.54;
  background-color: $light-background;
  color: $light-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;

  display: flex;
  min-height: 100vh;
  flex-direction: column;

  @media #{$media-size-phone} {
    font-size: 1rem;
  }

  &.dark-theme {
    background-color: $dark-background;
    color: $dark-color;
  }
}

h2, h3, h4, h5, h6 {
  display: flex;
  align-items: center;
  line-height: 1.3;
}

h1 {
  font-size: 2.625rem;
  margin-top: 50px;
}

h2 {
  font-size: 1.625rem;
  margin-top: 45px;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

@media #{$media-size-phone} {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.15rem;
  }

  h4 {
    font-size: 1.125rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}



img {
  display: block;
  max-width: 100%;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }
}

figure {
  display: table;
  max-width: 100%;
  margin: 25px 0;
  margin-left: auto;
  margin-right: auto;

  &.left {
    margin-right: auto;
  }

  &.left-floated {
    margin-right: auto;
    float: left;
    img {
      margin: 20px 20px 20px 0;
    }
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }

  &.right-floated {
    margin-left: auto;
    float: right;
    img {
      margin: 20px 0 20px 20px;
    }
  }

  &.rounded {
    img {
      border-radius: 50%;
    }
  }

  figcaption {
    font-size: 14px;
    margin-top: 5px;
    opacity: .8;

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0;
  border-radius: 5px;
}

table, th, td {
  border: 1px solid;
  padding: 10px;
}

th {
  background: var(--light-background-secondary);

  .dark-theme & {
    background: var(--dark-background-secondary);
  }
}

code {
  font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
  font-display: auto;
  font-feature-settings: normal;
  background: $light-background-secondary;
  padding: 1px 6px;
  margin: 0 2px;
  border-radius: 5px;
  font-size: .95rem;

  .dark-theme & {
    background: $dark-background-secondary;
  }
}

pre {
  background: #212020;
  padding: 10px 10px 10px 20px;
  border-radius: 8px;
  font-size: .95rem;
  overflow: auto;

  @media #{$media-size-phone} {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    background: none !important;
    color: #ccc;
    margin: 0;
    padding: 0;
    font-size: inherit;

    .dark-theme & {
      color: inherit;
    }
  }
}

blockquote {
  border-left: 2px solid;
  border-color: #0070F3;
  margin: 40px;
  padding: 10px 20px;

  @media #{$media-size-phone} {
    margin: 10px;
    padding: 10px;
  }

  &:before {
    content: 'â€';
    font-family: Georgia, serif;
    font-display: auto;
    font-size: 3.875rem;
    position: absolute;
    left: -40px;
    top: -20px;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

ul, ol {
  margin-left: 40px;
  padding: 0;

  @media #{$media-size-phone} {
    margin-left: 20px;
  }
}

ol ol {
  list-style-type: lower-alpha;
}

.container {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  align-items: center;
  justify-content: center;
  margin: 0;

  @media #{$media-size-phone} {
    margin-top: 0;
  }
}

hr {
  width: 100%;
  border: none;
  background: $light-border-color;
  height: 1px;

  .dark-theme & {
    background: $dark-border-color;
  }
}

.hidden {
  display: none;
}

.hide-on-phone {
  @media #{$media-size-phone} {
    display: none;
  }
}

.hide-on-tablet {
  @media #{$media-size-tablet} {
    display: none;
  }
}

.avatar {
  border-radius: 0%;
  width: 25%;
  min-width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

// Accessibility
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
    width: auto;
    top: 5px;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	z-index: 100000;
}

:root {
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 110, 253;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
}
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  background-color: var(--bd-callout-bg,  var(--bs-gray-100));
  border-left: 0.25rem solid var(--bd-callout-border,  var(--bs-gray-300));
}
.bd-callout h4 {
  margin-bottom: .25rem;
}
.bd-callout>:last-child {
  margin-bottom: 0;
}
.bd-callout+.bd-callout {
  margin-top: -.25rem;
}
.bd-callout .highlight {
  background-color: rgba(0, 0, 0, 0.05);
}
.bd-callout-info {
  --bd-callout-bg:  rgba(var(--bs-info-rgb),  .075);
  --bd-callout-border:  rgba(var(--bs-info-rgb),  .5);
}
.bd-callout-success {
  --bd-callout-bg:  rgba(var(--bs-success-rgb),  .075);
  --bd-callout-border:  rgba(var(--bs-success-rgb),  .5);
}
.bd-callout-warning {
  --bd-callout-bg:  rgba(var(--bs-warning-rgb),  .075);
  --bd-callout-border:  rgba(var(--bs-warning-rgb),  .5);
}
.bd-callout-danger {
  --bd-callout-bg:  rgba(var(--bs-danger-rgb),  .075);
  --bd-callout-border:  rgba(var(--bs-danger-rgb),  .5);
}
.text-primary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}
.text-secondary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
}
.text-success {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
}
.text-info {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-info-rgb), var(--bs-text-opacity)) !important;
}
.text-warning {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;
}
.text-danger {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
} 
.text-light {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}
.text-dark {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}
